nav {
    margin: -3% -2% 0 -2%;
    background-color: #1C4CAA;
    color: #fff;
}


body:not(nav){
    background-color: #F398A9;
}


nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: -1em;
}

nav li{
    font-size: 32px;
    margin-left: 2%;
    margin-right: 2%;
}

nav h1{
    padding: 1rem;
    font-size: 40px;
    margin-left: 2%;
}

#about_me {
    display: grid;
    /* Used for testing ---*/
   /* border-style: solid;
    border-width: 1em;
    border-color: red; */
}

#about_me h2{
    position: relative;
    top: -1rem;
    left: 40px;
    font-size: 40px;
    grid-column: 1 / 3;
    grid-row: 1;
    margin-bottom: -25px;
}

#about_me p {
    font-size: 25px;
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
    margin-left: 2rem;
    margin-right: 2rem;
}

#about_me figure {
   /* min-height: 33%;
    max-height: 33%; */ 
    grid-column: 4 / 4;
    grid-row: 2 / 3;
}

#about_me #self-portrait {
    border-radius: 30%;
    min-width: 30%;
    max-width: 70%;
    text-align: center;
    margin-left: 86px;
}

#about_me figure figcaption{
    text-align: center;
}

#about_me figure figcaption img{
    width: 86px;
}



