nav {
    margin: -3% -2% 0 -2%;
    background-color: #1C4CAA;
    color: #fff;
}


body:not(nav){
    background-color: #F398A9;
}


nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: -1em;
}

nav li{
    font-size: 32px;
    margin-left: 2%;
    margin-right: 2%;
}

nav h1{
    padding: 1rem;
    font-size: 40px;
    margin-left: 2%;
}

#about_me {
    display: flex;
    flex-wrap: wrap;
}

#about_me h2{
    position: relative;
    top: -1rem;
    left: 40px;
    font-size: 40px;
}

#about_me p {
    max-width: 60%;
    min-width: 60%;
    font-size: 32px;
    
}

#about_me img {
    border-radius: 30%;
    min-width: 30%;
    max-width: 40%;
    min-height: 33%;
    max-height: 33%;
    
}

